# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int - Integer types are whole numbers

In [9]:
num = 5
print(num)

5

##### Assinging float - Float types are decimals

In [10]:
this_float = 7.89
print(this_float)

7.89

#### Performing Calculations on ints and floats

##### Addition (+)

In [14]:
num1 = 4
num2 = 5

result = num1 + num2
print(result)

result += 5
print(result)

result = result + 5
print(result)

9
14
19

##### Subtraction (-)

In [19]:
num3 = 10
num4 = 7

result = num3 - num4
print(result)

result -= 3
print(result)

3
0

##### Multiplication (*)

In [21]:
num5 = 10
num6 = 15

result = num5 * num6
print(result)

result *= 10
print(result)

150
1500

##### Division (/)

In [22]:
# Always returns a float

num7 = 20
num8 = 5

result = num7 / num8
print(result)

result /= 2
print(result)

4.0
2.0

##### Floor Division (//) - Normal division but returns the largest possible integer

In [23]:
# Rounds Down the quotient to a whole number (int)

num9 = 18
num10 = 7

result = num9 // num10
print(result)

2

##### Modulo (%) - Returns the remainder of division

In [27]:
# Returns the remainder ()

num = 20
num1 = 6

result = num % num1
print(result)

if num % 2 == 0:
    print("Even")

2
Even

##### Exponential (**)

In [26]:
square = 5 ** 2
print(square)

cube = 5 ** 3
print(cube)

25
125

### String Input-Output

##### String Assignment

In [35]:
name = "anthony"
print(name)

name = 'Anthony'
print(name)

anthony
Anthony

##### print() <br>
<p>Don't forget about end=' '</p>

In [37]:
print("My name is " + name)

print("My name is: ", name, end=" LaTorre")

My name is Anthony
My name is:  Anthony LaTorre

##### String Concatenation

In [38]:
first = "Anthony"
last = "LaTorre"

fullname = first + " " + last
print(fullname)

Anthony LaTorre

##### Type Conversion

In [40]:
number = "57"

result = 2 - int(number)
print(result)

-55

##### input()

In [41]:
age = input("How old are you?")

print("You are " + age + " years old")

You are 57 years old

##### format()

In [3]:
age = input("How old are you?")
name = "Anthony"

result = "Hi {}, you are {} years old".format(name, age)
print(result)

common = f"Hello {name}, you are {age} years now"
print(common)

Hi Anthony, you are 1 years old
Hello Anthony, you are 1 years now

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [5]:
color = input("Please enter the vehicle's color: ")
year = input("Please enter the vehile's year: ")
make = input("Please enter the make of the vehicle: ")
model = input("Please enter the model of the vehicle: ")

print(f"Someday, I want to drive a {color} {year} {make.title()} {model.title()}.")

Someday, I want to drive a red 2007 Nissan Altima.

### If Statements

In [7]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T and F = F
# T and T = T
# T or F = T
# F or T = T
# F or F = F

num1 = 10
num2 = 11

if num1 > num2:
    print(f"{num1} is greater than {num2}")
elif num1 == num2:
    print("These values are equal.")
else:
    print(f"{num1} is less than {num2}")

10 is less than 11

##### 'is' keyword - Checks if the value refers to the same object in memory, not if they equal each other

In [7]:
num = 51

x = num

if num is x:
    print("yes")

yes

##### 'in' keyword = used to check if a value is present in a sequence

In [11]:
# Membership Check -> iterable data type

name = "Anthony LaTorre"

if "Anthony" in name:
    print("yes")

yes

##### 'not in' keyword'

In [12]:
if 'x' not in name:
    print('yes')

yes

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [8]:
fav_color = input("What is your favorite color?")

if 'p' in fav_color:
    print('yes')
else:
    print('no')

no

## Using 'and'/'or' with If Statements

In [21]:
name = 'Paul Abro'

if 'p' in name or 'P' in name:
    print('p')
else:
    print('no p')


christian = 'cool'

if christian == 'cool' and 'P' in name:
    print('we lit')
else:
    print('goofy')

p
we lit

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

In [24]:
#Use for loop to iterate over an iterable data type

name = "Anthony"

for letter in name:
    print(letter)

A
n
t
h
o
n
y

##### Continue Statement

In [25]:
# will continue to next iteration (goes back to top)

for letter in name:
    if letter == 'n':
        continue
    print(letter)

A
t
h
o
y

##### Break Statement

In [27]:
# will break out of current loop

for letter in name:
    if letter == 't':
        break
    print(letter)

print("done")

A
n
done

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

for letter in name:
    pass #add print statement later

##### Double For Loops

In [9]:
# start counting at 0 (zero)

for num1 in range(5):
    for num2 in range(5):
        print(f"num1: {num1} + num2: {num2} = {num1 + num2}")
    print("end")

num1: 0 + num2: 0 = 0
num1: 0 + num2: 1 = 1
num1: 0 + num2: 2 = 2
num1: 0 + num2: 3 = 3
num1: 0 + num2: 4 = 4
end
num1: 1 + num2: 0 = 1
num1: 1 + num2: 1 = 2
num1: 1 + num2: 2 = 3
num1: 1 + num2: 3 = 4
num1: 1 + num2: 4 = 5
end
num1: 2 + num2: 0 = 2
num1: 2 + num2: 1 = 3
num1: 2 + num2: 2 = 4
num1: 2 + num2: 3 = 5
num1: 2 + num2: 4 = 6
end
num1: 3 + num2: 0 = 3
num1: 3 + num2: 1 = 4
num1: 3 + num2: 2 = 5
num1: 3 + num2: 3 = 6
num1: 3 + num2: 4 = 7
end
num1: 4 + num2: 0 = 4
num1: 4 + num2: 1 = 5
num1: 4 + num2: 2 = 6
num1: 4 + num2: 3 = 7
num1: 4 + num2: 4 = 8
end

### While Loops

In [34]:
num = 0

while num < 10:
    print(num)
    num += 1

print('Finished')

0
1
2
3
4
5
6
7
8
9
Finished

##### Looping 'While True'

In [36]:
num = 0

while True:
    num += 1
    if num >= 10:
        break
    print(num)

1
2
3
4
5
6
7
8
9

##### While & For Loops Used Together

In [39]:
num = 0

while num < 5:
    print("While loop")

    for i in range(num):
        print("For loop")

    num += 1

print('finished')

While loop
While loop
For loop
While loop
For loop
For loop
While loop
For loop
For loop
For loop
While loop
For loop
For loop
For loop
For loop
finished

### Built-In Functions

##### range()

In [44]:
# Takes in multiple parameters Start Stop Step
# Stop number is noninclusive

for num in range(3, 20, 5):
    print(num)

3
8
13
18

##### len()

In [46]:
# spaces count too

name = " Anthony "

length = len(name)
print(length)

9

##### help() -  used to display the documentation of modules, functions, classes, keywords, etc.

In [47]:
# quick little lesson on whatever argument you type in

help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance() - checks if the object is the type

In [51]:
print(isinstance(4.5, float))

num = 2.5

if isinstance(num, int):
    print("This is an integer")

True

##### abs() - returns the absolute value

In [52]:
print(7-20)
print(abs(7-20))

-13
13

### Try and Except Blocks
#### try - lets you test a block of code for errors
#### except - lets you handle the error

In [11]:
# Use try/except whenever you expect an error -- a graceful exit

try:
    number = 0
    new_num = int(input("What number am I thinking about?: "))
    if new_num != number:
        new_num += number
        print("Your number is " + str(new_num))
except:
    print('That did not work')

That did not work

### Lists

##### Declaring Lists

In [61]:
my_list = []

names = ['William', 'Rhianna', 'Sean', 'Dylan', 'Christian', 12]

print(names)

['William', 'Rhianna', 'Sean', 'Dylan', 'Christian', 12]

##### Indexing a List

In [62]:
# start counting at 0 (zero)

print(names[0])

print(names[-1])

William
12

##### .append()

In [63]:
names.append('Sean B')

print(names)

print(names[-1])

['William', 'Rhianna', 'Sean', 'Dylan', 'Christian', 12, 'Sean B']
Sean B

##### .insert()

In [65]:
names.insert(4, 'Kevin')
print(names)

['William', 'Rhianna', 'Peace', 'Sean', 'Kevin', 'Dylan', 'Christian', 12, 'Sean B']

##### .pop()

In [67]:
# index specific

last = names.pop()
print(last)
print(names)

another = names.pop(2)
print(another)
print(names)

12
['William', 'Rhianna', 'Peace', 'Sean', 'Kevin', 'Dylan', 'Christian']
Peace
['William', 'Rhianna', 'Sean', 'Kevin', 'Dylan', 'Christian']


##### .remove() - removes element in a list, does not remove duplicates

In [72]:
# have to specify what your're removing (can't use index)

names = ['dylan', 'peace', 'kevin', 'sean', 'sean']


names.remove('sean')

print(names)

['dylan', 'peace', 'kevin', 'sean']

##### del()

In [73]:
# index specific

del(names[0])
print(names)

['peace', 'kevin', 'sean']

##### Concatenating Two Lists

In [74]:
list_1 = [1, 2, 3, 4, 5]
list_2 = [6, 7 , 8, 9, 10]

large_list = list_1 + list_2
print(large_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

##### Lists Within Lists

In [77]:
child = ['this', 'small', 'list1']
parent = ['bigger', 'list2', child]

print(parent[2][2])

list1

##### Looping Through Lists

In [79]:
students = ['Tristyn', 'Ash', 'Gabe', 'Nate']

for student in students:
    for letter in student:
        print(letter)

T
r
i
s
t
y
n
A
s
h
G
a
b
e
N
a
t
e

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [79]:
def show_cubes_up_to(t_value):
    """
        This function takes a given total cubic value, 
        finds its cube root, n, then finds the first nth cube roots.
    """
    max = int(t_value) ** (1/3)
    max = round(max)
    cubes = []

    for num in range(1, max+1):
        cubes.append(num ** 3)
    return cubes
    
    
total_value = input("Please enter the largest total value " +
                    "you'd like to see cubes up to.")
nums = show_cubes_up_to(total_value)
print(nums)

[1, 8, 27]

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [80]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break


#   Disclaimer: I followed a tutorial on YouTube, 
#   "First n Prime Numbers in Python" by Maker Vibe, 
#   to write this code. All credit to Maker Vibe.

#   I removed some unneeded lines of code, renamed most of the 
#   variables, and added the docstrings.


def prime_number_checker(num):
    """
        This function checks if a given value is a prime number.
        If so, the function returns 1.
    """
    value = int(num)
    if value == 2:
        return 1
    else:
        # only divisors we need are between 2 and value/2
        for divisor in range(2, round(value/2)+1):
            if value % divisor == 0:                                                              
                break
            elif value % divisor != 0:
                if divisor == round(value/2):
                    return 1



def prime_list_maker(num):
    """
        This function produces a list of prime numbers. 
        The length of that list depends on the user's input.
    """
    max_num = int(num)
    value = 1
    counter = 0
    prime_flag = 0
    primes = []

    # if value is prime, add to primes list
    while counter < max_num:
        prime_flag = prime_number_checker(value)
        if prime_flag == 1:
            primes.append(value)
            counter += 1
        value += 1

    print("Here are the first " + str(len(primes)) + " prime numbers:")
    print(primes)
    


num = input("Enter the number of prime values you'd like: ")
prime_list_maker(num)

Here are the first 100 prime numbers:
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [82]:
age = input("Please enter your age: ")
age = int(age)

if age < 18:
    print("You are a kid.")
elif age < 66:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

You are an adult.